@font-face {
  font-family: 'sophiaregular';
  src: url('resources/font/sophia-webfont.woff2') format('woff2'),
       url('resources/font/sophia-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,600,600i');

$black: #424242;
$white: #FaFaF8;
body {
  background: $white;
  color: $black;
  background: radial-gradient(transparent 50%, rgba(0,0,0,0.1)), $white;
  font-family: 'EB Garamond', serif;
  /* box-shadow: inset 0 0 150px rgba(0,0,0,0.21); */
}
.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.begin {
  position: fixed;
  top: 35%;
  display: inline-block;
  .button {
    font-family: 'sophiaregular';
    font-size: 60px;
    user-select: none;
    cursor: pointer;
    background: $black;
    color: $white;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: $white solid 3px;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    width: 150px;
    transform: translate(-50%, -50%);
    transition: width 0.75s cubic-bezier(.47,.05,.19,.97);
    z-index: -1;
    user-select: none;
    animation: sunburst infinite 30s linear;
  }
  &:hover img {
    width: 250px;
  }
}

.disclaimer {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  color: #555555bb;
  width: 300px;
  text-align: center;
}

.content {
  display: flex;
  flex: 1;
  max-width: 1200px;
}


.PlayerDisplay {
  /* animation: 3.7s linear 0s 1 appear; */
  position: fixed;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: transform 0.5s linear, left 1s cubic-bezier(.6,.05,.19,.97), bottom 1s cubic-bezier(.6,.05,.19,.97) ;
  &.corner {
    left: 0;
    bottom: 0;
    transform: translate(0, 0);
  }
}

.left {
  flex: 0 0 200px;
}

.center {
  flex: 1;
  display: flex;
  flex-flow: column;
  .image {
    flex: 1 1 0;
  }
  .dialog-box {
    flex: 0 0 55%;
  }
}

.right {
  flex: 0 0 200px;
}

.centered {
  display: flex;
  justify-content: center;
}

.title-card {
  text-align: center;
  font-family: 'sophiaregular';
  top: 38%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  h1 {
    font-size: 50px;
    margin: 0;
    animation: 1.7s linear 0s 1 appear;
  }
  h2 {
    font-size: 40px;
    margin: 0 0 10px 0;
    animation: 3.2s linear 0s 1 appear;
  }
  .hell {
    animation: 6.12s linear 0s 1 appear;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sunburst {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(360deg); }
}

.DialogDisplay {
  opacity: 0;
  transition: opacity cubic-bezier(.6,.05,.19,.97) 2s;
  .text {
    font-size: 20px;
  }
  &.show {
    opacity: 1;
  }
}