@font-face {
  font-family: 'sophiaregular';
  src: url('resources/font/sophia-webfont.woff2') format('woff2'),
       url('resources/font/sophia-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  background: #FaFaF8;
  color: #363636;
  background: radial-gradient(transparent 50%, rgba(0,0,0,0.1)), #FaFaF8;
  /* box-shadow: inset 0 0 150px rgba(0,0,0,0.21); */
}
.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.start-button {
  font-family: 'sophiaregular';
  font-size: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  background: #363636;
  color: #FaFaF8;
  padding: 10px 20px;
  display: inline-block;
  position: fixed;
  border-radius: 10px;
  top: 35%;
}

.content {
  display: flex;
  flex: 1;
  max-width: 1200px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.PlayerDisplay {
  /* animation: 3.7s linear 0s 1 appear; */
  position: fixed;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: transform 0.5s linear, left 1s cubic-bezier(.6,.05,.19,.97) , bottom 1s cubic-bezier(.6,.05,.19,.97) ;
  &.corner {
    left: 0;
    bottom: 0;
    transform: translate(0, 0);
  }
}

.left {
  flex: 0 0 200px;
}

.center {
  flex: 1;
  display: flex;
  flex-flow: column;
  /* background: #ebebea; */
  .image {
    flex: 0 0 70%;
  }
  .dialog-box {
    flex: 0 0 30%;
  }
}

.right {
  flex: 0 0 200px;
}

.centered {
  display: flex;
  justify-content: center;
}

.title-card {
  text-align: center;
  font-family: 'sophiaregular';
  top: 38%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  h1 {
    font-size: 50px;
    margin: 0;
    animation: 2s linear 0s 1 appear;
  }
  h2 {
    font-size: 40px;
    margin: 0 0 10px 0;
    animation: 3.5s linear 0s 1 appear;
  }
  .hell {
    animation: 6.12s linear 0s 1 appear;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}